//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html
    head
        title= title
    body
        h1 Add a New Player
        form(action="/update-players" method="POST")
            label(for="player_name") Player Name:
            input(type="text" name="player_name" required)
            br
            label(for="player_country") Country:
            input(type="text" name="player_country" required)
            br
            label(for="player_team") Team:
            input(type="text" name="player_team" required)
            br
            button(type="submit") Submit
        br
        a(href="/homepage-players") Return to homepage